@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkmode-color:#00000093;
    --main-color: #7357bf;
    --secondary-color: #FFFBFB;
    --txt-color: #ACA6A8;
    --dark-txt__color: #000;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    background-color: var(--secondary-color);
    font-family: "Jost", sans-serif;
}

.card{
    flex-basis: 800px;
    border-radius: 90px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 4px 0px #00000040 inset;

    overflow: hidden;
}


.card__header{
    height: 174px;
    background-color: var(--secondary-color);
    position: relative;
}

.card__avatar{
    width: 222px;
    height: 222px;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);

    border: 12px solid var(--secondary-color);
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: var(--main-color);

}

.card__body{
    padding: 120px 32px 50px;
    background-color: var(--main-color);
}

.card__info{
    max-width: 220px;
    margin: 0 auto ;
    margin-bottom: 40px;
}

.card__title{
    font-size: 32px;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

.card__line{
    background-color: var(--txt-color);
    height: 7px;
    border-radius: 12px;
}

.card__job{
    font-size: 24px;
    color: var(--txt-color);
    font-style: italic;
    font-weight: 700;
}

.card__list{
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.card__item{
    flex-grow: 1;

    border-radius: 26px;
    padding: 30px 51px;
    text-align: center;
    list-style: none;
    background-color: var(--secondary-color);
}


.card__txt{
    font-size: 32px;
    font-weight: 700;
    color: var(--dark-txt__color);
}

.card__subtitle{
 font-size: 32px;
 color: var(--txt-color);
 font-weight: 700;
}

.fa-palette:hover ~ .card .card__title{
    transition: 0.4s;
    color: var(--dark-txt__color);
}

.fa-palette:hover ~ .card .card__avatar{
    transition: 0.4s;
    background-color:var(--darkmode-color) ;
}

.fa-palette:hover ~ .card .card__body{
    transition: 0.4s;
    background-color:var(--darkmode-color) ;
}

.fa-palette:hover ~ .card .card__header{
    transition: 0.4s;
    background-color:rgba(189, 1, 189, 0.648) ;
}

.fa-palette:hover ~ .card .card__item{
    transition: 0.4s;
    background-color:rgba(189, 1, 189, 0.648);
}

i{
    position: absolute;
    top: 3%;
    right:2%;
    font-size: 40px;
    color: rgb(114, 1, 1);
}

html{
    color-scheme: dark light;
}


@media(prefers-color-scheme: dark){
    :root{
    --main-color: rgba(189, 1, 189, 0.648);
    --secondary-color: #161616;
    --txt-color: #7357bf;
    --dark-txt__color: #FFFBFB;
    }
}

